# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [19]:
data['Hourly Rate'].value_counts()

Hourly Rate
37.45    1495
43.72     779
38.52     528
19.86     345
49.35     298
         ...
21.84       1
50.50       1
44.74       1
30.00       1
37.69       1
Name: count, Length: 178, dtype: int64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [12]:
# Your code here:
display(data['Salary or Hourly'].value_counts(dropna=False))

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:
department_counts = data.groupby('Department')['Name'].count()
print(department_counts)

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [54]:
import scipy.stats as 
from scipy.stats import ttest_1samp

In [29]:
hourly= data.dropna(subset=['Hourly Rate'])
hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
...,...,...,...,...,...,...,...,...
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95
33678,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,43.72
33681,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,DAIS,F,Hourly,40.0,NaN,51.43
33684,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,PUBLIC SAFETY ADMIN,F,Hourly,40.0,NaN,49.35
33688,"ZWARYCZ, THOMAS J",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,37.45

In [73]:
# Your code here:

# Null hypothesis or H0: hourly wage of all hourly workers = 30
# Alternative hyp or H1: hourly wage of all hourly workers <> 30

stat, pval = ttest_1samp(hourly['Hourly Rate'], 30)
print('stat is for the two-tailed test is ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is for the two-tailed test is  31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [76]:
# The probability value is much smaller than the H0, so we reject the H0. The alternative hypothesis is 95% likely to be true. 
# Stat positive means that the hourly wage is more than likely bigger than 30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [44]:
# Your code here:
yearly = data.dropna(subset=['Annual Salary'])
yearly['Annual Salary']
police_yearly= yearly[yearly['Department'] == 'POLICE']
police_yearly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33696,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [46]:
# Null hypothesis or H0: yearly salary for all salaried employees >= 86000
# Alternative hyp or H1: yearly salary for all salaried employees < 86000

stat, pval = ttest_1samp(police_yearly['Annual Salary'], 86000)
print('stat is for the one-tailed test is ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is for the one-tailed test is  18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

In [ ]:
# The probability value is much smaller than the H0, BUT the stat is positive, in the same direction as our H0. this means null hypo was true!

Using the `crosstab` function, find the department that has the most hourly workers.

In [66]:
# Your code here:
hourly_max = pd.crosstab(index=data['Department'], columns='count', values=data['Hourly Rate'], aggfunc='count').idxmax()[0]
hourly_max

'STREETS & SAN'

In [69]:
streets_san = hourly.loc[hourly['Department']=='STREETS & SAN']
streets_san

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
26,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
49,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96
65,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
...,...,...,...,...,...,...,...,...
33623,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,38.01
33624,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
33667,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
33668,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [70]:
# Your code here:
# Null hypothesis or H0: hourly wage for department_most_hourly_workers < 35
# Alternative hyp or H1: hourly wage for department_most_hourly_workers > 35

confidence_level = 0.95
degrees_freedom = len(streets_san) - 1 
sample_mean = np.mean(streets_san['Hourly Rate'])
sample_standard_error = scipy.stats.sem(streets_san['Hourly Rate']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
stat, pval = ttest_1samp(streets_san['Hourly Rate'], 35)
print('stat is for the one-tailed test is ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is for the one-tailed test is  4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

In [ ]:
# The probability value is much smaller than the H0, however the stat is positive, so we cannot reject the H0.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [75]:
# Your code here:
confidence_level = 0.95
degrees_freedom = len(hourly) - 1 
sample_mean = np.mean(hourly['Hourly Rate'])
sample_standard_error = scipy.stats.sem(hourly['Hourly Rate']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [77]:
# Your code here:
confidence_level = 0.95
degrees_freedom = len(police_yearly) - 1 
sample_mean = np.mean(police_yearly['Annual Salary'])
sample_standard_error = scipy.stats.sem(police_yearly['Annual Salary']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: